.page-header {
    display: flex;
    align-items: center;
    border-bottom: 1px solid $border-bottom-header;
    @media screen and (max-width:785px){
        justify-content: space-between;
        height: 60px;
    }
    @media screen and (min-width:786px){
        height: 80px;
    }
}

.container-header {
    display: flex;
    align-items: center;

        @media screen and(max-width:479px){
            justify-content: space-around;
            width: 100%;
        }
}

.nav-list {

    &__logo {
        font-weight: 700;   
        font-size: 24px;
        line-height: 28.18px;
        letter-spacing: 3%;
        color: $accentColor;
    }

    &__logo--line-height {
        line-height: 33.19px;
        font-weight: 400;
    }

    &__logo--logo {
        color: $blackColor;
    }

    &__logo--font {
        font-family: 'Raleway', sans-serif;
    }

    &__logo--margin-right {
        @media screen and (min-width:786px){
            margin-right: 86px;
        }
    }

    &__logo--white {
        color: $white-text-color;
    }
}

.menu-toggle {
    cursor: pointer;
    color: $blackColor;
    margin-left: auto;
    border: none;
    background-color: $white-text-color;
    margin-left: auto;

    &:hover,
    &:focus {
        color: $accentColor;
    }
}

.menu-svg {
    fill: currentColor
}