h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    padding: 0;
    margin: 0;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}

.body {
    font-family: "Roboto", sans-serif; 
    background-color: $white-text-color;
    color: $basic-text-color;
}

.section{
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:1200px){
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.section-work {
    padding-bottom: 94px;
}

.teams__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 30px;
    color: $blackColor;

    @media screen and (min-width:1200px){
        font-size: 36px;
        line-height: 42px;
        margin-bottom: 50px;
    }
}

.div-conaiter {

    @media screen and (max-width:1199px){
        text-align: center;
        display: flex;
        flex-direction: column;
    }
}

.footer-container {
    @media screen and (min-width:786px) and (max-width:1199px){
        display: flex;
        align-items: baseline;
        flex-wrap: wrap;
    }

    @media screen and (min-width:1200px){
        display: flex;
        align-items: baseline;
    }

    @media screen and (min-width:786px) and (max-width:1199px) {
        justify-content: space-around;
    }
}

.div-conaiter:nth-last-child(1) {
    @media screen and (min-width:786px) and (max-width:1199px) {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
    }
}

.div-conaiter + .div-conaiter{
    @media screen and (max-width:785px){
        margin-top: 60px;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 94px;
    }
}

// .div-conaiter {
//     @media screen and (min-width:1200px) {
//         display: flex;
//         flex-direction: column;
//     }
// }



.join__go {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $white-text-color;
}






