$accentColor: #2196F3;
$blackColor: #212121;
$basic-text-color: #757575;
$white-text-color: #FFFFFF;
$border-bottom-header: #ECECEC;
$btn-background-color: #188CE8;
$background-color: #F5F4FA;
$overlay-img-work:rgba(47, 48, 58, 0.8);
$icon-color: #AFB1B8;
$background-color-footer: #2F303A;
$addres-text-color: rgba(255, 255, 255, 0.6);
$background-color-icon:rgba(255, 255, 255, 0.1);
$border-color-icon: rgba(255, 255, 255, 0.3);
$border-color-cart: #EEEEEE;
$background-overlay-portfolio: rgba(33, 150, 243, 0.9);